extends layout

block content
  h1 BotMan
  p.lead Haywire's Exotic Bot Collection
  hr
  .row
    .col-sm-12
      p
        | It is the beginning of era of the bots. Soon, there will be bots all around us. There would be rogue ones and
        | there would be good ones, just like their gods, the humans.