extends layout

block content
  h1 BotMan
  p.lead Haywire's Exotic Bot Collection
  hr
  .row
    .col-sm-12
      p
        | It is the beginning of era of the bots. Soon, there will be bots all around us. There would be rogue ones and
        | there would be good ones, just like their gods, the humans.
        br
        | So, let the good prevail. :)

      br
      h4 What's BotMan?
      p
        | Botman is a collection of exotic bots which help you control your social media interaction from one place.

      br
      h4 What's Loki?
      p
        | Loki is our first live bot and you can ask him to send same message to multiple facebook friends (selected friends
        | or entire friends list!) with just one click. <a href="/bot/fb/login">Click here</a> to try Loki.

      br
      h4 Why should I use Loki?
      p
        | Loki is an evolving Bot. For now, he can send your messages to your facebook friends. Just login to your
        | facebook account and choose your friends.
        | If you're a startup, use Loki to ask your friends checkout your awesome stuffs.
        | If you're a blogger, you can use Loki to send your news letters to your friends list.

      br
      h4 Is it safe?
      p
        | Hell yeah! We have built BotMan from ground up to be very secure! It does not store your facebook credentials
        | so you're very much safe. In case you need any help, just send me a <a href="https://twitter.com/_ioctl"
        | target="_blank">tweet here</a>. :)