extends layout

block content
  h1 BotMan
  p.lead Haywire's Exotic Bot Collection
  hr
  .row
    html
      body
        h2 Privacy Policy
        div(style='clear:both;height:10px;')
        .innerText
          | Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
          br
        span#infoCo
        br
        .grayText
          strong
            | What personal information do we collect from the people that visit our blog, website or app?
        .innerText
          | When using our site, as appropriate, you may be asked to enter your name, email address, facebook friend list, messages sent through the platform or other details to help you with your experience.
        br
        .grayText
          strong When do we collect information?
        .innerText
          | We collect information from you when you register on our site, fill out a form or enter information on our site.
          | Provide us with feedback on our products or services while using our bot services
        span#infoUs
        br
        .grayText
          strong How do we use your information?
        .innerText
          | We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
        .innerText
          strong •
          |  To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.
        .innerText
          strong •
          |  To improve our website in order to better serve you.
        .innerText
          strong •
          |  To allow us to better service you in responding to your customer service requests.
        .innerText
          strong •
          |  To administer a contest, promotion, survey or other site feature.
        .innerText
          strong •
          |  To quickly process your transactions.
        span#infoPro
        br
        .grayText
          strong How do we protect visitor information?
        .innerText
          | Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.
        .innerText
          | Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
        .innerText
          | We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.
        .innerText
          | All transactions are processed through a gateway provider and are not stored or processed on our servers.
        span#coUs
        br
        .grayText
          strong Do we use 'cookies'?
        br
        .innerText
          | Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
        .innerText
          strong We use cookies to:
        .innerText
          strong •
          |  Understand and save user's preferences for future visits.
        .innerText
          strong •
          |  Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.
        .innerText
          br
          | You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.
        span#trDi
        br
        .grayText
          strong Third-party disclosure
        br
        .innerText
          | We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.
          |  However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
        span#trLi
        br
        .grayText
          strong Third-party links
        br
        .innerText
          | Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
        span#gooAd
        br
        .blueText
          strong Google
        .innerText
          | Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en
        .innerText We use Google AdSense Advertising on our website.
        .innerText
          | Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.
        .innerText
          strong We have implemented the following:
        .innerText
          strong •
          |  Google Display Network Impression Reporting
        .innerText
          strong •
          |  Demographics and Interests Reporting
        br
        .innerText
          | We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.
        .innerText
          strong
            | In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
        .innerText We will notify the users via email
        .innerText We will notify the users via in-site notification
        .innerText
          strong
            br
            | If at any time you would like to unsubscribe from receiving future emails, you can email us at
        |  and we will promptly remove you from
        strong ALL
        |  correspondence.
        br
        span#ourCon
        br
        .blueText
          strong Contacting Us
        br
        .innerText
          | If there are any questions regarding this privacy policy you may contact us using the information below.
          br
          br
        .innerText https://www.botman.in
        .innerText New Delhi
        .innerText India
        .innerText prashantdwivedi06@gmail.com
        .innerText
          br
          | Last Edited on 2016-04-07
