@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap-social";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  float: left;
}

//=========== Botman

.frnd {
  padding: 10px;
  border: 1px solid #D6D6D6;
  margin: 3px;
  min-width: 100%;
  cursor: pointer;
}
.frnd:hover {
  box-shadow: 2px 4px 19px gray;
}

.frnd .details {
  display: inline-block;
  padding: 0 12px;
  vertical-align: top;
}

.frnd img {
  height: 48px;
  vertical-align: middle;
}

.details > input[type="checkbox"] {
  float: right;
}

.details a {
  display: block;
  color: #5A5A5A;
  font-weight: bold;
  margin-bottom: 10px;
}

:checked +  .frnd {
  box-shadow: 0px 0px 5px #569845;
}

.select-friends-button {
  width: 100%;
  min-height: 50px;
  margin: 50px 0 10px;
}

.select-friends-button .btn {
  float: right;
  //margin-left: 10px;
  margin-right: 10px;
}

#fbLogout {
  margin-left: 10px;
  float: right;
}